@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}


.TextSkills{
    width: 12%;
    height: 10%;
    color: #F06292;
    margin-left: 40rem;
    font-family: 'Anonymous Pro', monospace;
}

.teste{
    width: 2px;
    height: 300px;
    background-color: #757575;
    margin-left: 44.3rem;
}


.Backend{
    font-family: 'Anonymous Pro', monospace;
    width: 12%;
    height: 10%;
    font-size: 25px;
    margin-left: 59rem;
}

.back1{
    font-family: 'Anonymous Pro', monospace;
    height: 15px;
    margin-left: 12rem;
    width: 20px;
    margin-bottom: -4.9rem;
    color: #D9D9D9;
}





.wrap-circles {
    min-height: 10vh;
    padding: 1rem 48rem;
  }
  
  .circle {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #F48FB1;
    overflow: hidden;
    
  }
  .circle.per-0 {
    background-image: conic-gradient(#F48FB1 70%, #616161 0);
    margin-left: 3rem;
    margin-top: -18rem;
  }
  .circle.per-25 {
    background-image: conic-gradient(#F48FB1 28%, #616161 0);
    margin-left: 19rem;
    margin-top: -8rem;
  }
  .circle.per-50 {
    background-image: conic-gradient(#F48FB1 40%, #616161 0);
    margin-left: 3rem;
    margin-top: 3rem;
  }
  .circle.per-75 {
    background-image: conic-gradient(#F48FB1 50%, #616161 0);
    margin-left: 19rem;
    margin-top: -8rem;
  }
  .circle.per-100 {
    background-image: conic-gradient(#B5838D 100%, #FFCDB2 0);
  }
  .circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 50%;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.3em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
  }

  .circle .test {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 50%;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.3em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
  }
