@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');


h1{
    font-family: 'Anonymous Pro', monospace;
    width: 270px;
    height: 21.5vh;
    color: white;
    margin-left: 120px;
    margin-top: 30vh;
    margin-bottom: 3rem;
    font-size: 40px;
    line-height: 0.9;
    font-weight: 400;
    display: block;
}

p{
    
    line-height: 0;
    margin-bottom: 2rem;
    margin-top: 1.8rem;
}
.colorName{
    color: #F2B7C6;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 40px;
    font-weight: 400;
}

h2{
    font-family: 'Anonymous Pro', monospace;
    width: 20vh;
    height: 3vh;
    color: white;
    margin-left: 120px;
    font-size: 15px;
    font-weight: 400;
}