@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');


h1{
    font-family: 'Anonymous Pro', monospace;
    width: 17rem;
    height: 8.2rem;
    color: black;
    margin-left: 9rem;
    margin-top: 12rem;
    margin-bottom: 3rem;
    font-size: 43px;
    line-height: 0.9;
    font-weight: 400;
    display: block;
}

p{
    line-height: 0;
    margin-bottom: 1.9rem;
    margin-top: 1.6rem;
    margin-left: -0.3rem;
}
.colorName{
    color: #F48FB1;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 45px;
    font-weight: 400;
}

h2{
    font-family: 'Anonymous Pro', monospace;
    width: 15rem;
    height: 1rem;
    color: black;
    margin-left: 9rem;
    font-size:20px;
    font-weight: 400;
    margin-top: 0.1rem;
}