:root {
  --random_bg: url(https://source.unsplash.com/random)
}



/* CSS to create the blob  */

.blob-wobble {
  width: 430px;
  height: 430px;
  background-image: url(https://avatars.githubusercontent.com/u/101608517?v=4);
  background-position: center center;
  background-size: cover;
  border-radius: 41% 59% 31% 69% / 51% 72% 28% 49%  ;
  animation: wobble 10s ease-in-out alternate infinite;
  box-shadow: 2px 14px 28px -10px rgba(0,0,0,0.7);
  z-index: -1;
  margin-left: 60rem;
  margin-top: -28rem;
}

/* CSS to animate the blob */

@keyframes wobble {
  
    25% {
    border-radius: 41% 59% 74% 26% / 51% 31% 69% 49% ;
    transform: scale(0.9) rotate(-5deg);
  }
  
  50% {
    border-radius: 23% 77% 73% 27% / 14% 21% 79% 86%  ;
    transform: scale(0.8) rotate(6deg);
  }
  
  100% {
    border-radius: 75% 25% 75% 25% / 45% 26% 74% 55%  ;
    transform: scale(0.95) rotate(-2deg);
  }
}