.mew{
    background-color: red;
    width: 10%;
    height: 10%;
    margin-left: 80rem;
    margin-bottom: 21rem;
    margin-top: -30rem;

    animation-name: updown;
    animation-duration: 3s; /* Duração da animação */
    animation-iteration-count: infinite; /* Repete infinitamente */
    animation-direction: alternate; 
}

.puzzle1{
    width: 10%;
    height: 10%;
    margin-left: 60rem;
    margin-bottom: 22rem;
    margin-top: -90rem;

    animation-name: updown;
    animation-duration: 3s; /* Duração da animação */
    animation-iteration-count: infinite; /* Repete infinitamente */
    animation-direction: alternate; 
}

.controle2{
    width: 10%;
    height: 10%;
    margin-left: 50rem;
    margin-bottom: 17rem;
    margin-top: -90rem;

    animation-name: updown;
    animation-duration: 3s; /* Duração da animação */
    animation-iteration-count: infinite; /* Repete infinitamente */
    animation-direction: alternate; 
}

.me{
  width: 24%;
    height: 20%;
    margin-left: 65rem;
    margin-bottom: 10rem;
    margin-top: -90rem;
    animation-name: updown;
}

.puzzle2{
    width: 10%;
    height: 10%;
    margin-left: -10rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
 
    animation-name: updown;
    animation-duration: 3s; /* Duração da animação */
    animation-iteration-count: infinite; /* Repete infinitamente */
    animation-direction: alternate; 
}


@keyframes updown {
    0% {
      transform: translateY(0); /* Mantém o elemento na posição original */
    }
    50% {
      transform: translateY(-50px); /* Move o elemento para cima */
    }
    100% {
      transform: translateY(0); /* Retorna o elemento para a posição original */
    }
  }