.Cube2 {
    width: 200px;
    height: 200px;
    margin-left: 85vh;
    margin-top: 20vh;
  
    animation: rotate 10s infinite alternate;
    transform-style: preserve-3d;
  }

  .face2 {
    background: linear-gradient(45deg, #4fd1c522, black);
    border: 2px solid #4fd1c5;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 50px;
    font-weight: bold;
    color: #234e52;
  
    width: 200px;
    height: 200px;
    position: absolute;
  }
  
  .face--front2 {
    transform: translateZ(100px);
    /* background-image: url("../Cube1/csharp.jpg"); */
  }
  
  .face--right2 {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .face--back2 {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .face--left2 {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .face--top2 {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .face--bottom2 {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  @keyframes rotate {
    from {
      transform: rotateX(-20deg) rotateY(-10deg);
    }
    25% {
      transform: rotateX(10deg) rotateY(150deg);
    }
  
    50% {
      transform: rotateX(40deg) rotateY(300deg);
    }
  
    to {
      transform: rotateX(-20deg) rotateY(-20deg);
    }
  }