@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');


.title{
    font-family: 'Anonymous Pro', monospace;
}

.text1{
    width: 450px;
    height: 100px;
    font-family: 'Anonymous Pro', monospace;
    margin-left: 140px;
    margin-top: -100px;
    font-size: 20px;
    font-weight: 400;
}

.lineABT{
    line-height: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.text2{
    width: 380px;
    height: 80px;
    font-family: 'Anonymous Pro', monospace;
    margin-left: 140px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 400;
}

.lineABT2{
    line-height: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}


.text3{
    width: 250px;
    height: 80px;
    font-family: 'Anonymous Pro', monospace;
    margin-left: 140px;
    margin-top: 28px;
    font-size: 20px;
    font-weight: 400;
}