@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');


.title{
    font-family: 'Anonymous Pro', monospace;
}

.text1{
    width: 28rem;
    height: 5rem;
    font-family: 'Anonymous Pro', monospace;
    margin-left: 8.7rem;
    margin-top: -5.7rem;
    font-size: 20px;
    font-weight: 400;
}

.lineABT{
    line-height: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.01rem;
}

.text2{
    width: 28rem;
    height: 4.5rem;
    font-family: 'Anonymous Pro', monospace;
    margin-left: 140px;
    margin-top: 0.3rem;
    font-size: 20px;
    font-weight: 400;
}

.lineABT2{
    line-height: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 0.01rem;
}


.text3{
    width: 20rem;
    height: 4.5rem;
    font-family: 'Anonymous Pro', monospace;
    margin-left: 9rem;
    margin-top: 1.7rem;
    font-size: 20px;
    font-weight: 400;
}